.t-library section {
  padding: 5rem 0; }

.t-library section:nth-child(even) {
  background: #efefef; }

.t-library .c-colour-block {
  width: 100%;
  position: relative;
  background: #efefef; }
  .t-library .c-colour-block:after {
    content: '';
    display: block;
    padding-bottom: 100%; }

.t-library .c-colour-block--dark {
  background: #171717; }

.t-library .c-colour-block--navy {
  background: #1B324B; }

.t-library .c-colour-block--primary-green {
  background: #BBD1BB; }

.t-library .c-colour-block--secondary-green {
  background: #E2EBE2; }

.t-library .c-colour-block--primary-purple {
  background: #63456D; }

.t-library .c-colour-block--secondary-purple {
  background: #9876A3; }

.t-library .c-colour-block--primary-pink {
  background: #A72846; }

.t-library .c-colour-block--secondary-pink {
  background: #C67689; }

.t-library code {
  display: block;
  white-space: pre-wrap; }

.t-library .u-push {
  margin-top: 2rem; }

.t-library .c-code-snippet {
  clear: both;
  margin-top: 2rem; }

.c-btn {
  border: 0;
  border-radius: 0;
  background: gray;
  font-family: 'Roboto Slab';
  font-weight: 400;
  line-height: 1;
  position: relative;
  color: #fff;
  display: inline-block;
  float: left;
  clear: both;
  margin: 1rem 0; }

.c-btn--primary {
  padding: 15px 80px 15px 40px;
  font-size: 20px; }
  .c-btn--primary:hover, .c-btn--primary:focus, .c-btn--primary:active, .c-btn--primary:active:hover, .c-btn--primary:visited, .c-btn--primary:link {
    color: #fff;
    text-decoration: none; }

.c-btn--primary--purple {
  background: #63456D; }
  .c-btn--primary--purple:hover, .c-btn--primary--purple:focus, .c-btn--primary--purple:active, .c-btn--primary--purple:active:hover, .c-btn--primary--purple:visited, .c-btn--primary--purple:link {
    background: #63456D; }
  .c-btn--primary--purple:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-image: url("../img/right-arrow.svg");
    background-size: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.35); }

.c-btn--secondary {
  font-size: 17px;
  padding: 15px 65px 15px 30px; }
  .c-btn--secondary:hover, .c-btn--secondary:focus, .c-btn--secondary:active, .c-btn--secondary:active:hover, .c-btn--secondary:visited, .c-btn--secondary:link {
    color: #fff;
    text-decoration: none; }
  .c-btn--secondary:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: #af95b7;
    background-size: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.35); }

.c-btn--secondary--purple {
  background: #63456D; }
  .c-btn--secondary--purple:hover, .c-btn--secondary--purple:focus, .c-btn--secondary--purple:active, .c-btn--secondary--purple:active:hover, .c-btn--secondary--purple:visited, .c-btn--secondary--purple:link {
    background: #63456D; }

.c-btn--secondary--purple-secondary {
  background: #9876A3; }
  .c-btn--secondary--purple-secondary:hover, .c-btn--secondary--purple-secondary:focus, .c-btn--secondary--purple-secondary:active, .c-btn--secondary--purple-secondary:active:hover, .c-btn--secondary--purple-secondary:visited, .c-btn--secondary--purple-secondary:link {
    background: #9876A3; }

.c-btn--secondary--green {
  background: #BBD1BB; }
  .c-btn--secondary--green:hover, .c-btn--secondary--green:focus, .c-btn--secondary--green:active, .c-btn--secondary--green:active:hover, .c-btn--secondary--green:visited, .c-btn--secondary--green:link {
    background: #BBD1BB; }

.c-btn-secondary--plain {
  padding: 15px 30px; }
  .c-btn-secondary--plain:after {
    content: '';
    display: none; }

.c-btn-secondary--avatar {
  padding: 15px 30px 15px 50px; }
  .c-btn-secondary--avatar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.5px;
    width: 40px;
    height: 100%;
    background-image: url("../img/avatar.svg");
    background-size: 80%;
    background-position: center center;
    background-color: transparent; }

.c-btn--arrow-down:after {
  background-image: url("../img/down-arrow.svg"); }

.c-btn--arrow-right:after {
  background-image: url("../img/right-arrow.svg"); }

.c-main-heading {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto Slab';
  color: #171717; }

.c-smaller-heading {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto Slab';
  color: #171717; }

.c-subtitle {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto Slab';
  color: #171717; }

a.c-hyperlink {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto Slab';
  color: #171717;
  border-bottom: 1px solid #63456D;
  text-decoration: none;
  color: #3B3B3B; }
  a.c-hyperlink:hover {
    text-decoration: none; }

a.c-hyperlink--in-text {
  font-weight: 100;
  font-family: 'Work Sans';
  color: #171717;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

.c-text-quote {
  font-weight: 100;
  font-family: 'Work Sans';
  color: #171717;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-size: 28px; }

.c-text-banner {
  font-weight: 100;
  font-family: 'Work Sans';
  color: #171717;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-size: 20px; }

.c-text {
  font-weight: 100;
  font-family: 'Work Sans';
  color: #171717;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }
